<div class="">


  <mat-tab-group animationDuration="0ms" mat-align-tabs="center" color="accent">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        First
      </ng-template>
      <div class="container">
        <div class="raw">
          <div class="vidWrapper">
            <div class="vidContainer">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/StBj0vHMesk"
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <h1>sdad</h1>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        Second
      </ng-template>
      <ng-container>

      </ng-container>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        Third
      </ng-template>

      <ng-container>

      </ng-container>
    </mat-tab>
  </mat-tab-group>


  <!--All-->


  <!--Video-->
  <ng-template>
    <div>

    </div>
  </ng-template>

  <!--Image-->
  <ng-template>
    <div>

    </div>
  </ng-template>

  <!--Photoes-->
  <ng-template>
    <div>

    </div>
  </ng-template>

</div>






