<div class="">


  <mat-tab-group animationDuration="0ms" mat-align-tabs="center" color="accent">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        First
      </ng-template>
      <div class="container">
        <div class="row" >
          <div class="mainWrapper col-6">
            <mat-card>
              <mat-card-content>
                <div class="vidWrapper ">
                  <div class="vidContainer">
                        <iframe width="700" height="315" src="https://www.youtube.com/embed/StBj0vHMesk"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                  </div>
                </div>
                <h2 class="pt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Beatae dolore atque modi soluta. Dolor est hic in totam, corrupti
                  consequatur impedit harum ad. Consequatur quia qui, similique illo sequi veniam!</h2>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>

          </div>
          <div class="col-6" >
            <cdk-virtual-scroll-viewport itemSize="100" class="scrollContainer">
              <div *ngFor="let item of numbers" class="scrollItem">
                ASA
              </div>
            </cdk-virtual-scroll-viewport>
          </div>
        </div>
        <h1>sdad</h1>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        Second
      </ng-template>
      <ng-container>

      </ng-container>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        Third
      </ng-template>

      <ng-container>

      </ng-container>
    </mat-tab>
  </mat-tab-group>


  <!--All-->


  <!--Video-->
  <ng-template>
    <div>

    </div>
  </ng-template>

  <!--Image-->
  <ng-template>
    <div>

    </div>
  </ng-template>

  <!--Photoes-->
  <ng-template>
    <div>

    </div>
  </ng-template>

</div>






